fastapi
fastapi-cli
fastapi-pagination
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
pydantic
psycopg2-binary
pydantic-settings
pydantic_core
python-dotenv
SQLAlchemy
starlette
uvicorn
